# API connection settings
BASE_URL="localhost"
BASE_PORT="8080"

# Log level settings, valid values: -8 (trace), -4 (debug), 0 (info), 4 (warn), 8 (error)
LOG_LEVEL=0

# MongoDB connection settings
MONGODB_HOST="localhost"
MONGODB_PORT="27017"
MONGODB_USERNAME="admin"
MONGODB_PASSWORD="password"
MONGODB_DATABASE="unimq"

# RabbitMQ connection settings
RABBITMQ_HOST="http://localhost"
RABBITMQ_PORT="15672"
RABBITMQ_USERNAME="guest"
RABBITMQ_PASSWORD="guest"

RABBITMQ_CHANNEL_LIMIT=1000
RABBITMQ_CONNECTION_LIMIT=300
RABBITMQ_QUEUE_LIMIT=150

# Prometheus connection settings
PROMETHEUS_HOST="http://localhost"
PROMETHEUS_PORT="9090"

# Example: https://mirror.gcr.io
DOCKER_MIRROR = ""
COMPOSE_PROJECT_NAME = "unimq-dashboard"
