# Auth issuer is the oidc/oauth2 provider URL, e.g http://localhost:10001/dex
VITE_AUTH_ISSUER=http://localhost:5556/dex
# Application identifier registered with the auth provider, e.g. somenamestring
VITE_AUTH_CLIENT_ID=unimq-dashboard
# Client secret for the application, required
# Need to match the value configured in the auth provider
VITE_AUTH_CLIENT_SECRET=O8jad9kl1PD1er

